@model IEnumerable<Bank.Models.Deposit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepositAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.AccountName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepositAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.AccountName)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.DepositID }) |
        </td>
    </tr>
}

</table>
