@model Bank.Models.Transfer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transfer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TranferMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranferMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account1.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account1.AccountName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransferID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
